@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #9333EA;
    --color-accent: "#06B6D4";
    --color-neutral: "#1E293B";
    --color-success: "#22C55E";
}
