@import "tailwindcss";

@plugin "daisyui" {
    /* থিমগুলো এখানে ডিফাইন করুন */
    themes: light, dark, contestverse;
}

/* কাস্টম থিম কনফিগারেশন */
@theme {
    --color-primary: #FF2E63;
    --color-secondary: #093C5D;
    --color-accent: #06b6d4;
    --color-neutral: #1e293b;

    --color-base-100: #f8fafc;
    --color-base-200: #f1f5f9;
    --color-base-300: #e2e8f0;
}
